//noinspection CssUnknownTarget
@import "variables";

.container {
  /* different site layouts go here */
  // overflow-x: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  // overflow: auto;
}