//noinspection CssUnknownTarget
@import "variables";

.innerContainer{
  @include width-range();
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
}

:global{
  #app {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
